{% load i18n %}
{% load account %}

{% user_display user as user_display %}

{% autoescape off %}
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Password Reset</title>
    </head>
    <body>
        <p>You're receiving this e-mail because you or someone else has requested a password reset for your user account.</p>
        <p>It can be safely ignored if you did not request a password reset. Click the link below to reset your password.</p>
        <p><a href="{{ password_reset_url }}">Reset Password</a></p>
        <p>If the above link doesn't work, please copy and paste this URL in your browser:</p>
        <p>{{ password_reset_url }}</p>
        <p>Thank you for using {{ site_name }}!</p>
    </body>
    </html>
    {% endblocktrans %}
{% endautoescape %}
